[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
distutils-pytest = "*"

[packages]
keras = "*"
tensorflow = "==1.13.1"
sklearn = "*"
tensorflow-probability = "==0.6.0"
matplotlib = "*"
setuptools = "*"
wheel = "*"
twine = "*"
imageio = "*"
pydot = "*"
graphviz = "*"
scipy = "*"

[requires]
python_version = "3.6"
