[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
distutils-pytest = "*"

[packages]
keras = "*"
tensorflow = {version=">=1.13.1,<1.14"}
sklearn = "*"
tensorflow-probability = {version=">=0.6.0,<0.7"}
matplotlib = "*"
setuptools = "*"
wheel = "*"
twine = "*"
imageio = "*"

[requires]
python_version = "3.7"
