[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
distutils-pytest = "*"

[packages]
keras = "*"
tensorflow = "*"
sklearn = "*"
tensorflow-probability = "*"
matplotlib = "*"
setuptools = "*"
wheel = "*"
twine = "*"
imageio = "*"
pydot = "*"
graphviz = "*"

[requires]
python_version = "3.7"
